.avatar {
  width: 200px;
  height: 200px;
  margin: auto;
}
.avatar img {
  width: 100%;
  height: 100%;
}
img {
  height: auto;
  max-width: 100%;
}
.pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.6em;
  overflow: auto;
  max-width: 100%;
  padding: 1.6em;
}
.title-list {
  margin-top: 100px;
  background-color: #eee;
  padding: 50px;
  color: #0274be;
  font-size: 40px;
  font-weight: 400;
}
.text-note {
  font-size: 16px;
  color: #818182;
}
.active {
  color: #0274be;
}

.logo {
  color: black;
}
.site-title a:hover {
  color: black !important;
  text-decoration: none;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;

  /* display: none; */
}
.fa-arrow-up {
  margin-top: -17px;
  margin-left: -17px;
}
.font-16 {
  font-size: 16px;
}
.portfolio-content {
  border-bottom: 1px solid #e6e9ed;
  padding: 16px;
}

.glass {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#the-div {
  width: 500px;
  height: 500px;
  background: url(http://placekitten.com/500/500) no-repeat center center;
  position: relative;
}
#the-div:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
